/*ヘッダー*/
header {
    text-align: center;
}

input {
    margin-top: 2em;
}
/*フレームデザイン*/
body, .btn {
    background-color: #d3d3d3;
    color: #ffffff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}
.content {
    position: relative;
    width: 70vh;
    height: 70vh;
    margin: auto;
    padding: 60px 60px;
    border-radius: 30px;
    box-shadow: 0 30px 60px -5px #000000;
    background: center center #16212c;
    background-size: cover;
}
h3 {
    color: palevioletred;
    font-weight: 700;
    white-space: nowrap;
}
/*いいねハート*/
h4 {
    font-size: 20px;
    white-space: nowrap;
}

.frame {
    padding-top: 30px;
}

.nonactive {
    color: rgba(255, 255, 255, .2);
}

h2 {
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 12px;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

h2:first-child {
    padding-left: 0;
}

span {
    display: inline-block;
    opacity: .4;
    position: relative;
    top: -65px;
    font-size: 12px;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}
/*focus*/
.frame {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: white;
    vertical-align: middle;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.frame:focus {
    border-color: #66afe9;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    outline: 0;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.text {
    display: block;
    width: 89%;
    height: 15px;
    margin-top: 15px;
    padding: 10px 20px;
    overflow: hidden;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    background: rgba(255, 255, 255, .1);
    transition: all .5s ease-in-out;
}

.text:focus {
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
    outline: 0;
}

.text:focus + span {
    opacity: .6;
}

input[type="text"], input[type="number"] {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

input {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
}

h2, span, .custom-checkbox {
    margin-left: 20px;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    top: 6px;
    padding: 8px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .1);

    -webkit-appearance: none;
}

.custom-checkbox:checked {
    background-color: rgba(17, 97, 237, 1);
}

.custom-checkbox:checked:after {
    position: absolute;
    top: 1px;
    left: 4px;
    color: #ffffff;
    font-size: 10px;
    content: "\2714";
}

.custom-checkbox:focus {
    outline: none;
}

label {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
}



/*ボタン*/
.flat.border {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 2px solid #3399ff;
    border-radius: 8px;
    box-sizing: border-box;
    background: #ffffff;
    color: #ffffff;
    color: #3399ff;
    font-weight: bold;
    text-align: center;
    transition: .3s;
}
.flat.border:hover {
    background: #3399ff;
    color: #ffffff;
}
.flat.border:active, .flat.border:focus {
    top: 2px;
}
.radius {
    border: 1px solid #cccccc;
    border-radius: 10px;
}
.radius:focus {
    border-color: #5db0ff;
    outline: 0;
}

hr {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .1);
}

a {
    display: block;
    position: relative;
    top: 120px;
    color: rgba(255, 255, 255, .2);
    text-decoration: none;
    text-align: center;
}

/*slider_animation*/

/*loading*/
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
}
.loading .bullet {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background: #65a3ff;
            animation: animIn 1s ease-in-out 0s infinite;

    -webkit-animation: animIn 1s ease-in-out 0s infinite;
}
.loading .bullet:nth-child(1) {
            animation-delay: 0s;

    -webkit-animation-delay: 0s;
}
.loading .bullet:nth-child(2) {
            animation-delay: .15s;

    -webkit-animation-delay: .15s;
}
.loading .bullet:nth-child(3) {
            animation-delay: .3s;

    -webkit-animation-delay: .3s;
}
.loading .bullet:nth-child(4) {
            animation-delay: .45s;

    -webkit-animation-delay: .45s;
}
.loaded {
    opacity: 0;
    transition: all .3s;
}
@-webkit-keyframes animIn {
    0% {
        opacity: 0;
                transform: translateX(-100px);

        -webkit-transform: translateX(-100px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
                transform: translateX(100px);

        -webkit-transform: translateX(100px);
    }
}
@keyframes animIn {
    0% {
        opacity: 0;
                transform: translateX(-100px);

        -webkit-transform: translateX(-100px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
                transform: translateX(100px);

        -webkit-transform: translateX(100px);
    }
}
/*ツイート一覧開閉*/
.btn {
    display: table;
    width: 200px;
    height: 20px;
    margin-top: 2em;
    margin-bottom: .3em;
    padding: .3em .5em;
    border-radius: .3em;
    background: rgba(127, 194, 239, .5);
    color: #ffffff;
    text-align: center;

    translate: all 1.0s;
}

/* checkbox non-display */
.add-control .chk {
    display: none;
}
/* button control */
.add-control #open-close ~ .tweets_content {
    display: none ;
}
.add-control #open-close ~ .btn-open-close .open {
    display: inline;
}
.add-control #open-close ~ .btn-open-close .close {
    display: none;
}
.add-control #open-close:checked ~ .btn-open-close .open {
    display: none;
}
.add-control #open-close:checked ~ .btn-open-close .close {
    display: inline;
}
.add-control #open-close:checked ~ .tweets_content {
    display: block ;
}

/*スライドアニメーション*/
.boxes {
    animation: anim 1s forwards;
}

/* @keyframes anim {
  0% {
  transform: translateX(0px);
  }

  100% {
  transform: translateX(-5px);
  }
} */

/*ツイート*/
.tweets_content {
    visibility: hidden;
    position: relative;
    transform: translate(-10vw, 0);
    width: 50vw;
    min-height: 100vh;
    margin: auto;
    margin-top: 5em;
    margin-right: 2em;
    padding: 60px 60px;
    border-radius: 30px;
    box-shadow: 0 30px 60px -5px #000000;
    background: center center #16212c;
    background-size: cover;
    transition: .3s;
}

.fadeUp {
    opacity: 0;
    animation-name: fadeUpAnime;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
