<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="test.css">
    <title>TwitterExtracter</title>
  </html>
  <body>
    <label for="search">キーワード検索</label>
    <input type="text" placeholder="検索ワード" id="search">
      <p style="text-align: left;" valign="middle"></p>
    <label for="favorite">いいね数指定</label>
    <input type="favoriteLimit" min="0" id="favorite">
      <p style="text-align: left;" valign="middle"></p>
    <label for="tweetsLimit">ツイート数指定</label>
      <input type="range" min ="0" max = "100" id="tweet_num">
    <input type="button" onclick="search()" value="検索">
    <p style="text-align: center;" valign="middle">ツイート表示</p>
    <br>
    <div id="tweets"></div>
    <script src="script.js"></script>
  </body>
</html>
