<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>TwitterExtracter</title>
</head>

<body>
    <label for="search">キーワード検索</label>
    <input type="text" class ="radius" placeholder="検索ワード">
	<p style="text-align: left;" valign="middle"></p>
    <label for="favorite">いいね数指定</label>
    <input type="number" min="0" id="favorite">
        <p style="text-align: left;" valign="middle"></p>
    <label for="tweet_num">ツイート数指定</label>
        <input type="range" min ="0" max = "100" id="tweet_num">
    <div>
	<button class="reset flat border">検索</button>
    </div>
    <p style="text-align: center;" valign="middle">ツイート表示</p>
    <br>
    <div id="tweets"></div>
    <script src="script.js"></script>
</body>
</html>
